- if ('undefined' !== typeof errors && errors.length)
  ul#errors
    - each error in errors
      li.error= error
      
h2 Login
form(action='/login', method='post')
  div.clearfix
    label(for=everyauth.password.loginFormFieldName) Email
    div.input
      input.xlarge(type='text', name=everyauth.password.loginFormFieldName, value=email)
  div.clearfix
    label(for=everyauth.password.passwordFormFieldName) Password
    div.input
      input.xlarge(type='password', name=everyauth.password.passwordFormFieldName)
  div.actions
    input.btn.primary(type='submit', value='login')
br
a(href="/register") Register