head
  title Regions of #{region.fullname}
  link(href="/stylesheets/bootstrap-mini.css", type="text/css", rel="stylesheet")
  style(type="text/css") .navbar-inner li{ list-style-type: none; float: left; padding-left: 10px 20px; }
body
  div.navbar
    .navbar-inner
      .container
        li(style="padding-top:0px;padding-bottom:0px;")
          a.brand(href="/") MajuroJS.org
        li
          a(href="/draw/#{region.name}") Draw Custom Area

  div.container
    .row
      .span8
        .hero-unit(style="background-color:#C2F23C;background-image:'#{region.images[0]}';background-repeat:no-repeat;padding:30px;")
          h3
            span Regions of&nbsp;
            span(style="text-transform:capitalize;") #{region.fullname}
        div
          - each division in region.divisions
            a(name="division.category")
            h3 #{division.category}
            ul
              - each district in division.districts
                div(style="float:left;text-align:center;")
                  a(href="/build/#{region.name}/#{district.geo}")
                    span #{district.name}
                    br
                    img(src="/regionmap/#{district.geo}", width="256", height="256")

      .span4
        img.govlogo(src="#{region.images[1]}")
        br
        br
        h2 Jump to
        ul.regionlists
          - each division in region.divisions
            li
              a(href="##{division.category}") #{division.category}