head
  meta(name="viewport", content="initial-scale=1.0, user-scalable=no")
  title Majuro.js Saved Map
  link(rel="stylesheet", href="/stylesheets/leaflet.css", type="text/css")
  link(rel="stylesheet", href="/pancontrol/stylesheets/L.Control.Pan.css", type="text/css")
  // [if lte IE 8]
    link(rel="stylesheet", href="/stylesheets/leaflet.ie.css", type="text/css")
    link(rel="stylesheet", href="/pancontrol/stylesheets/L.Control.Pan.ie.css", type="text/css")
  link(href="/stylesheets/bootstrap-mini.css", rel="stylesheet", type="text/css")
  link(href='/stylesheets/custombuild.css', rel='stylesheet', type='text/css')
  script(type="text/javascript", src="/scripts/leaflet.js")
  script(type="text/javascript", src="/scripts/jquery-1.7.1.min.js")
  script(type="text/javascript", src="/pancontrol/scripts/L.Control.Pan.js")
  script(type="text/javascript") var customgeo = "#{customgeo}"; var edited = !{edited};
  script(type="text/javascript", src="/scripts/storedmap.js")
  script(type="text/javascript", src="/scripts/bootstrap.min.js")

body
  div#sidebar(style="padding-left:20px;padding-top:8px;")

    - if (name != "")
      strong#name #{name}
    - else
      h2 Majuro.js

    - if (info != "")
      p#info #{info}

    p
      span Data downloaded from&nbsp;
      a.allegheny(href="#", onclick="showDataSource()") Allegheny County
      a.austin(href="#", onclick="showDataSource()") City of Austin
      a.baltimore(href="#", onclick="showDataSource()") City of Baltimore
      a.bloomington(href="#", onclick="showDataSource()") City of Bloomington
      a.boston(href="#", onclick="showDataSource()") City of Boston
      a.chicago(href="#", onclick="showDataSource()") City of Chicago
      a.kitsap(href="#", onclick="showDataSource()") Kitsap County
      a.lancaster(href="#", onclick="showDataSource()") Lancaster County
      a.nanaimo(href="#", onclick="showDataSource()") City of Nanaimo
      a.oakland(href="#", onclick="showDataSource()") City of Oakland
      a.philadelphia(href="#", onclick="showDataSource()") City of Philadelphia
      a.sanfrancisco(href="#", onclick="showDataSource()") City of San Francisco
      a.savannah(href="#", onclick="showDataSource()") SAGIS
      a.seattle(href="#", onclick="showDataSource()") City of Seattle
      a.spokane(href="#", onclick="showDataSource()") City of Spokane
      a.westsacramento(href="#", onclick="showDataSource()") City of West Sacramento
      br
      span Save as&nbsp;
      a(href="#", onclick="downloadFile(0)") Google Earth / KML
      span &nbsp;or&nbsp;
      a(href="#", onclick="downloadFile(1)") GeoJSON
      br
      br
      span Make your own map at
      br
      a(href="http://www.majurojs.org") MajuroJS.org
  div#map

  div#creditmessage.modal.hide.fade
    div.modal-header
      button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
      h3 Data Source
    div.modal-body
      p.allegheny
        span Buildings data from Allegheny County, Pennsylvania via&nbsp;
        a(href="http://www.pasda.psu.edu/", target="_blank") PASDA
        br
        a(href="http://www.pasda.psu.edu/uci/FullMetadataDisplay.aspx?file=AlleghenyCounty_Footprints20080616.xml", target="_blank") Data Citation
      p.austin
        span Buildings data from the City of Austin, Texas via their&nbsp;
        a(href="ftp://ftp.ci.austin.tx.us/GIS-Data/Regional/coa_gis.html", target="_blank") GIS FTP site
        span &nbsp;set up by the Communications and Technology Department.
        br
        span A data disclaimer is written on the GIS FTP site.
      p.baltimore
        span Buildings data from the City of Baltimore, Maryland via the&nbsp;
        a(href="http://www.baltimorecity.gov/OfficeoftheMayor/MayoralOffices/InformationTechnology/EnterpriseGeographicInformationServices.aspx", target="_blank") Mayor's Office of Information Technology
        span .
        br
        a(href="https://data.baltimorecity.gov/Geographic/Building-Footprint-Shape/deus-s85f", target="_blank") Released into Public Domain
      p.bloomington
        span Buildings data from the City of Bloomington, Indiana via their website.
        a(href="http://bloomington.in.gov/documents/viewDocument.php?document_id=1870", target="_blank") Source
        br
        a(href="http://bloomington.in.gov/documents/viewDocument.php?document_id=709", target="_blank") Data Policy
      p.boston
        span Buildings data for the City of Boston via the&nbsp;
        a(href="http://www.bostonredevelopmentauthority.org/BRA_3D_Models/2D-download.html", target="_blank") Boston Redevelopment Authority
        br
        a(href="http://www.bostonredevelopmentauthority.org/BRA_3D_Models/Index.html", target="_blank") Data Policy
      p.chicago
        span Buildings data from the City of Chicago via&nbsp;
        a(href="https://data.cityofchicago.org", target="_blank") data.cityofchicago.org
        br
        a(href="https://data.cityofchicago.org/Buildings/Building-Footprints/w2v3-isjw", target="_blank") Public Data
      p.kitsap
        span Buildings data from Kitsap County, Washington via their&nbsp;
        a(href="http://www.kitsapgov.com/gis/", target="_blank") GIS portal.
        br
        a(href="http://www.kitsapgov.com/county/privacy.htm", target="_blank") Data Policy
      p.lancaster
        span Buildings data from Lancaster County, Pennsylvania via&nbsp;
        a(href="http://www.pasda.psu.edu/", target="_blank") PASDA
        br
        a(href="http://www.pasda.psu.edu/uci/LancasterAgreement.asp?File=http://www.pasda.psu.edu/lancco/data/LancasterCountyBuildings200812.zip", target="_blank") Data Use Policy
      p.nanaimo
        span Buildings data from Nanaimo, British Columbia, Canada. Available under a&nbsp;
        a(href="http://koordinates.com/layer/3200-building-footprint/", target="_blank") Creative Commons Attribution 2.5 license.
      p.oakland
        span Buildings data from the City of Oakland via&nbsp;
        a(href="http://www2.oaklandnet.com/Government/o/PBN/OurServices/Plans/DOWD008194", target="_blank") Broadway/Valdez District Specific Plan
        br
      p.philadelphia
        span Buildings data from the City of Philadelphia via&nbsp;
        a(href="http://www.opendataphilly.org/opendata/resource/6/buildings/", target="_blank") OpenDataPhilly.org
        br
        a(href="http://opendataphilly.org/faq/#five", target="_blank") Data Use Policy
      p.savannah
        span Buildings data from the Metropolitan Planning Commission and Savannah Area GIS. Visit&nbsp;
        a(href="http://www.thempc.org/SAGIS.htm", target="_blank") thempc.org
        span &nbsp;and&nbsp;
        a(href="http://www.sagis.org", target="_blank") SAGIS.org
        br
        a(href="http://www.thempc.org/SAGIS/Q_Export/default.htm", target="_blank") Data Use Policy
      p.seattle
        span Buildings data from the City of Seattle via&nbsp;
        a(href="https://data.seattle.gov", target="_blank") data.seattle.gov
        br
        a(href="https://data.seattle.gov/dataset/2009-Building-Outlines/y7u8-vad7", target="_blank") Public Domain
      p.spokane
        span Buildings data from the City of Spokane via their&nbsp;
        a(href="http://www.spokanecity.org/services/gis/data/", target="_blank") GIS portal.
        br
        a(href="http://www.spokanecity.org/services/gis/disclaimer/", target="_blank") Data Disclaimer
      p.westsacramento
        span Buildings data from the City of West Sacramento, California via their&nbsp;
        a(href="http://www.cityofwestsacramento.org/services/gis/downloads.asp", target="_blank") GIS site
        span .
        br
        a(href="http://maps.cityofwestsacramento.org/resources/documents/City%20Disclaimer.pdf", target="_blank") Data Disclaimer (PDF)
      br
      span There is no official endorsement or maintenance of this site by this city or county.
    div.modal-footer
      a.btn.btn-primary(href="#", onclick="$('.modal').modal('toggle');") Close